<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">&nbsp; &nbsp; &nbsp;&nbsp;Receptionist Menu</li>
                <li>
                <li id="aHome">
                    <a href="receptionistIndex.jsp"><i class="fa fa-home"></i> <span>Home</span></a>
                </li>
                </li>

                
                
                <li>
                <li id="aPatient">
                    <a id="patientSidebar" href="receptionistPatients.jsp"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                </li>
                </li>
<!--                <li>
                <li id="aClinic">
                    <a href="ReceptionistClinics.jsp"><i class="fa fa-hospital-o"></i> <span>Clinics</span></a>
                </li>
                </li>-->

                <li class="submenu" id="aTestRequest" >
                    <a href="#"><i class="fa fa-medkit"></i> <span> Test</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">

                        <li id="aTestIndex">
                            <a href="testIndexReceptionist.jsp"><i class="fa fa-file"></i> <span>Test Index</span></a>
                        </li>  
                        <li id="aTest">
                            <a href="testReceptionist.jsp"><i class="fa fa-archive"></i> <span>Test Package</span></a>
                        </li>
                        
                    </ul>
                </li>
                
                <!--                            <li>
                                                <a href="appointments.html"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                                            </li>
                                            <li>
                                                <a href="schedule.html"><i class="fa fa-calendar-check-o"></i> <span>Doctor Schedule</span></a>
                                            </li>
                
                                            <li>
                                                <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
                                            </li>
                
                                            <li class="submenu">
                                                <a href="#"><i class="fa fa-edit"></i> <span> Forms</span> <span class="menu-arrow"></span></a>
                                                <ul style="display: none;">
                                                    <li><a href="form-basic-inputs.html">Basic Inputs</a></li>
                                                    <li><a href="form-input-groups.html">Input Groups</a></li>
                                                    <li><a href="form-horizontal.html">Horizontal Form</a></li>
                                                    <li><a href="form-vertical.html">Vertical Form</a></li>
                                                </ul>
                                            </li>
                
                                            <li class="menu-title">Extras</li>
                                            <li class="submenu">
                                                <a href="#"><i class="fa fa-columns"></i> <span>Pages</span> <span class="menu-arrow"></span></a>
                                                <ul style="display: none;">
                                                    <li><a href="login.html"> Login </a></li>
                                                    <li><a href="register.html"> Register </a></li>
                                                    <li><a href="forgot-password.html"> Forgot Password </a></li>
                                                    <li><a href="change-password2.html"> Change Password </a></li>
                                                    <li><a href="lock-screen.html"> Lock Screen </a></li>
                                                    <li><a href="profile.html"> Profile </a></li>
                                                    <li><a href="gallery.html"> Gallery </a></li>
                                                    <li><a href="error-404.html">404 Error </a></li>
                                                    <li><a href="error-500.html">500 Error </a></li>
                                                    <li><a href="blank-page.html"> Blank Page </a></li>
                                                </ul>
                                            </li>
                                            <li class="submenu">
                                                <a href="javascript:void(0);"><i class="fa fa-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                                                <ul style="display: none;">
                                                    <li class="submenu">
                                                        <a href="javascript:void(0);"><span>Level 1</span> <span class="menu-arrow"></span></a>
                                                        <ul style="display: none;">
                                                            <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                                            <li class="submenu">
                                                                <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                                                <ul style="display: none;">
                                                                    <li><a href="javascript:void(0);">Level 3</a></li>
                                                                    <li><a href="javascript:void(0);">Level 3</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);"><span>Level 1</span></a>
                                                    </li>
                                                </ul>
                                            </li>-->
            </ul>
        </div>
    </div>
</div>